:root {
  --navbar-height: 40px;
  --footer-height: 40px;
  --default-background: #61dafb;
}

a {
  all: unset;
  cursor: pointer;
}

hr.solid {
  border-top: 1px solid #bbb;
}

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
}

.vl {
  border-left: 1px solid #464646;
  min-height: 150px;
}