#participant-form #modal-header h3 {
  width: 100%;
  text-align: center;
}

#participant-form .dates-container {
  display: flex;
  justify-content: space-around;
}

#participant-form .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#participant-form button[aria-label="Close"] {
  display: none;
}